/* h1, h2, h3, h4, h5, h6, [id] */
:root {
  scroll-margin-top: 80px; /* Adjust this value to match your header height */
}

:root {
--docsearch-highlight-color: #c285ff;
}
html[data-theme='dark'] {
  --docsearch-hit-active-color: black;
}

:not(pre) > code {
  white-space: nowrap;
}
pre code.language-ascii, pre code.ascii {
  white-space: pre;
  overflow-x: auto;
}
/* Allow code blocks to wrap normally */
pre > code, pre code {
  white-space: pre-wrap;
}

.sidebar-group .link-wrapper a {
  white-space: nowrap;
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}
